section article h3{
  color: var(--main);
  /* margin-top: 2em; */
}

section article:first-of-type{
  padding-top: 2em;
}

section img{
  width: 100%;
  padding-top: 1em;
}

.aside{
  background-color: rgba(181, 190, 0, 0.3);
  border-left-color: var(--accent);
  border-left-width: 9px;
  border-left-style: solid;
  padding: 0px 45px 40px 26px;
  margin: 20px -30px 30px -30px;
}

.aside h2{
  font-size: 1.5em;
  padding: 2em 0 0.5em 0;
  color: var(--main);
}

ul{
  /* padding-top: 0.5em; */
  margin-left: 1em;
}

li{
  padding-top: 0.25em;
}

ul li:last-of-type{
  padding-bottom: 1em;
}

ul ul{
  padding-top: 0;
}

ul ul li{
  padding-top: 0.25em;
}

ul ul li:last-child{
  padding-bottom: 0.5em;
}
