:root{
  --main: #1F355E; /* navy blue */
  --accent: #B5BE00; /* green */
  --text-dark: #666; /* black */
  --text-light: #ABABAB; /* light grey */
  --content-width: 800px;
}

@import url('https://fonts.googleapis.com/css?family=Bree+Serif|Nunito:300&display=swap');


body, header, nav, h1, h2, h3, h4, p, div, section, ul, li, img, main, footer {
  margin: 0;
  padding: 0;
}

body {
  font-family: nunito, arial;
  font-size: 16px;
  font-weight: 300;
}

a {
  color: inherit;
  text-decoration: none;
}

section {
  margin-bottom: 5em;
}

.current {
  /* border-left: 6px solid var(--accent);
  padding-left: 4px; */
  color: var(--main);
  font-weight: 800;
}

ul li{
padding-left: 10px;
}

button{
  padding: 5px 20px;
  border-radius: 2px;
  border: 2px solid var(--accent);
  background-color: rgba(255, 255, 255, 0);
}

button:hover{
  color: var(--main);
  background-color: var(--accent);
  transition: 400ms ease;
}


/* -------------------------- start header --------------------------  */
header {
  position: fixed;
  top: 0;
  height: 70px;
  background-color: var(--main);
  line-height: 70px;
  border-bottom: 6px solid var(--accent);
  z-index: 100;
  width: 100%;
}

.header-container{
  width: 62%;
  /* margin: auto; */
  padding-left: 20%;
}

.header-nav {
  width: 80%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  float: left;
}

.header-logo {
  width: 40px;
  height: 40px;
}

.header-text {
  font-size: 1em;
  color: white;
  padding-left: 1em;
}

.header-nav .right {
  text-align: right;
  float: right;
}

.header-fullplan{
  width: 20%;
  float: right;
  height: 70px;
  margin-top: 20px;
}

.fullplan-btn{
  color: white;
  display: flex;
  float: right;
}

/* -------------------------- end header --------------------------  */

/* -------------------------- start prallax --------------------------  */
body{
  position: relative;
}

.keyart_layer{
  background-position: top;
  background-size: cover; /* first value: width of the image, second value: height */
  /* background-repeat: repeat-x; */
  width: 100%;
  position: absolute;
}

#parallax{
  display: block;
}

.keyart{
  position: relative;
  z-index: 99;
  height: 90vh;
}

.keyart_layer{
  height: 120vh;
}

#keyart-1{
  background-image: url('img/hero-01.png')
}

#keyart-2{
  background-image: url('img/hero-02.png')
}

#keyart-3{
  background-image: url('img/hero-03.png')
}

#keyart-4{
  background-image: url('img/hero-04.png')
}

#keyart-5{
  background-image: url('img/hero-05.png')
}

#keyart-6{
  background-image: url('img/hero-06.png')
}

.cover{
  z-index: 99;
  position: relative;
  background-color: var(--main);
  height: 300px;
  top: -100;
}

.impact-statement{
  position: relative;
  z-index: 99;
  height: 400px;
  background-color: var(--main);
  line-height: 2.5em;
}

.is-container{
  padding-top: 4.5em;
  color: #fff;
  width: 60%;
  /* margin: auto; */
  padding-left: 20%;
}

.is-container p{
  text-transform: uppercase;
  font-family: 'Bree serif', nunito;
  color: var(--accent);
  font-weight: 800;
}

.nav-gap{
  position: relative;
  background-color: #fff;
  height: 100px;
  z-index: 99;
}

.other-resources{
  margin-top: 2em;
}
/* -------------------------- end parallax --------------------------  */

.content-container{
  /* width: var(--content-width);
  margin: auto; */
  margin-top: 5em;
}

/* -------------------------- start fixed nav --------------------------  */
nav {
  position: relative;
  float: right;
  width: 25%;
  top: 4em;
  right: 0;
  z-index: 60;
  overflow-y: scroll;
  display: block;
  height: 80vh;
  scrollbar-width: none;
}

nav::-webkit-scrollbar{
  display: none;
}

nav li a{
  text-decoration: none;
  color: inherit;
}

nav li a:hover{
  color: var(--main);
  transition: 400ms ease-in;
}

.nav-list {
  color: var(--text-light);
}

nav li {
  list-style-type: none;
  padding-bottom: 0.5em;
}

.indent{
  margin-left: 1em;
}

.nav-label{
  text-transform: uppercase;
  font-size: 0.75em;
  padding-bottom: 1.25em;
}

.sticky{
  position: fixed;
  max-height: 70vh;
  overflow-y: scroll;
  top: 8em;
}

/* ------------------- end fixed nav------------------  */


main {
  background-color: white;
  position: relative;
  width: 100%;
  margin: auto;
  margin-bottom: 5em;
  /* padding-top: 4em; */
}

.content {
  width: 50%;
  padding: 0 5% 0 20%;
}

.content h2{
  font-family: 'Bree serif', Merriweather, serif;
  color: var(--main);
  font-size: 2em;
  padding-top: 2em;
}

.content h3{
  color: var(--text-light);
  font-weight: 300;
  font-size: 0.9em;
  text-transform: uppercase;
  font-family: 'Bree serif', Merriweather, serif;
}

.content h4{
  color: var(--main);
  font-size: 1.5em;
  font-weight: 500;
}

.content p {
  margin-top: 1em;
}

.obj-icons-container {
  position: relative;
  display: inline-block;
}

.objective{
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: left;
  margin-top: 3em;
}

.obj-icon {
  width: 300px;
}

.objective button{
  margin-top: 1.5em;
}

/* ---------START tools for transforamtion section---------- */
.tools{
  position: relative;
}

.tools-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 15px;
  grid-template-areas:
    "stormwater guidelines signage"
    "character opportunity collaboration";
  margin-top: 3em;
}

.tools-tile{
  background-color: white;
  /* border: 1px solid var(--text-light); */
  height: 350px;
}

.tools-tile img{
  max-width: 100%;
  min-height: 50%;
  object-fit: cover;
  padding-right: 10px;
}

.tools-tile h4{
  height: 60px;
  width: 150px;
  margin-bottom: 1em;
  /* background-color: red; */
}

.stormwater{
  grid-area: stormwater;
}


.tools-illustration {
  width: 618px;
}


/* ---------END tools for transforamtion section---------- */

.character-zone-map{
  width: 100%;
}


/* ------------------- end  content------------------  */

/* -------------------start footer------------------  */

footer .nav-label{
  padding-bottom: 0;
}

.article-nav{
  color: var(--main);
  height: 100px;
  background-color: var(--accent);
}

.footer-nav-container{
  width: 65%;
  /* padding-left: 20%; */
  margin: auto;
}

.previous{
  width: 40%;
  height: 50px;
  padding-top: 30px;
  /* background-color: blue; */
  float: left;
}

.next{
  text-align: right;
  width: 40%;
  height: 50px;
  padding-top: 30px;
  /* background-color: red; */
  float: right;
}

.previous, .left{
  padding-left: 30px;
}

.next, .right{
  padding-right: 30px;
}

.footer-credit {
  color: white;
  font-size: 0.75em;
  height: 40px;
  background-color: var(--main);
}

.footer-text{
  width: 65%;
  margin: auto;
  line-height: 40px;
}

.footer-credit .left {
  float: left;
}

.footer-credit .right {
  float: right;
}

footer a:hover {
  text-decoration: underline;
  transition: 400ms ease-in;
}
/* -------------------END footer------------------  */

/* ---------------START media query--------------- */
@media only screen and (max-width: 1350px) {
  .header-container{
    width: 80%;
    margin: auto;
    padding-left: 0;
  }
  main{
    /* width: var(--content-width); */
  }
  .content {
    width: 80%;
    margin: auto;
    padding: 0;
  }
  .is-container{
    width: 80%;
    margin: auto;
    padding-left: 0;
  }
  nav {
    /* position of menu */
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    z-index: 101;
    padding-top: 10%;
    text-align: center;
    right: -100%; /* hide menu to the right */
    /* transition: right 500ms ease; */
    cursor: pointer;
    color: white;
    background-color: var(--main);
  }

  nav li a:hover, .current{
    color: white;
  }


  .sticky{
    top: 0;
  }

  .header-nav{
    width: 70%;
  }

  nav.expanded {
    right: 0;
    z-index: 99;
  }

  .nav-toggle{
    position: relative;
    float: right;
    height: 25px;
    width: 25px;
    margin-top: 22px;
    margin-left: 20px;
    cursor: pointer;
  }

  /* hamburger icon - 3 horizon lines */
  .nav-toggle .nav-toggle-bar,  .nav-toggle .nav-toggle-bar::after,  .nav-toggle .nav-toggle-bar::before{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: all 500ms ease;
    background: white;
    content: '';
    height: 0.1rem;
    width: 100%;
  }

  /* offset 3 lines to create icon */
  .nav-toggle .nav-toggle-bar { margin-top: 0; }
  .nav-toggle .nav-toggle-bar::after { margin-top: 0.5rem; }
  .nav-toggle .nav-toggle-bar::before { margin-top: -0.5rem; }

  /* hamburger icon animation */
  .nav-toggle.expanded .nav-toggle-bar{
    background: transparent;
  }

  .nav-toggle.expanded .nav-toggle-bar::after, .nav-toggle.expanded .nav-toggle-bar::before {
  	  background: white;
  	  margin-top: 0; /* make slanted line center */
      z-index: 201;
  }

  .nav-toggle.expanded .nav-toggle-bar::after{
    transform: rotate(45deg);
  }

  .nav-toggle.expanded .nav-toggle-bar::before{
    transform: rotate(-45deg);
  }

  .header-nav.hide, .header-fullplan.hide{
    display: none;

  }

  header.hideBorder{
    border-bottom: none;
  }

  .footer-nav-container, .footer-text{
    width: 90%;
  }

.stop-scroll{
    overflow-y: hidden;
  }

}
